mixin equipment-content()
	.wrapper
		section.equipment-content
			h2.title.equipment-content__title Буровые установки

			table
				thead
					tr
						th Модель
						th Длина штанг, м
						th Усиление протяжки, т
				tfoot
					tr
						td(colspan="3") Установки горизонтально направленного бурения фирмы Vermeer, модельный ряд которых позволяет прокладывать коммуникации диаметром от 32 до 1500 мм на расстояние до 2000 м. Установки шнекового бурения марки Perforator, с помощью которого можно прокладывать трубы диаметром от 300 до 1400 мм.
				tbody
					tr
						td ГНБ Vermeer Navigator D200x300
						td -
						td 100
					tr
						td ГНБ Vermeer Navigator D100x120
						td 6
						td 46
					tr
						td ГНБ Vermeer Navigator D80x100, 2 шт.
						td 4,6
						td 36
					tr
						td ГНБ Vermeer Navigator D36x50, 2 шт.
						td 4,6
						td 16
					tr
						td ГНБ Vermeer Navigator D33x44, 1 шт.
						td 3
						td 15

			h2.title.equipment-content__title Вспомогательное оборудование

			table
				tbody
					tr
						td Электростанции различной мощности
					tr
						td Сварочные станки для сварки ПНД труб диаметром от 32 до 1200 мм
					tr
						td Смесительные системы, включая систему регенерации для производства работ по прокладке труб больших диаметров
					tr
						td Локационные системы марки Digitrak полного модельного ряда для контроля процесса бурения на глубине до 35 м и использования кабельного подключения

			h2.title.equipment-content__title Транспортно - строительная техника

			table
				tbody
					tr
						td Кабелеукладчик Vermeer
					tr
						td Колесные экскаваторы с гидромолотом
					tr
						td Грузовые автомобили с краном-манипулятором
					tr
						td Тягачи с прицепами для перевозки строительной техники, включая крупногабаритные тяжеловозы
					tr
						td Водоводы с подогревом воды в зимний период
					tr
						td Илососы импортного производства вместимостью от 3-х до 16-ти кубометров с каналопромывкой
					tr
						td Грузовые машины различной грузоподъемности - от "Газели" до КАМАЗа
