mixin advantages()
	section.advantages
		.advantages__item.advantages__item--tractor 10 лет
			span Не останавливаемся на достигнутом
		.advantages__item.advantages__item--evacuator 2160 объектов
			span Функционируют благодаря нам
		.advantages__item.advantages__item--truck 255 клиентов
			span Растем вместе с вами
