mixin licenses-content()
	.wrapper
		section.licenses-content
			.licenses-content__row
				img(src="%=staticPrefix=%images/content/license1.jpg" alt="")
				img(src="%=staticPrefix=%images/content/license2.jpg" alt="")
			.licenses-content__row
				img(src="%=staticPrefix=%images/content/license3.jpg" alt="")
				img(src="%=staticPrefix=%images/content/license4.jpg" alt="")
				img(src="%=staticPrefix=%images/content/license5.jpg" alt="")
