mixin services-content()
	.wrapper
		section.services-content
			.numbered-item
				.numbered-item__prev 1
				.numbered-item__content.numbered-item__content--first
					p Работы по монтажу наружных инженерных сетей, строительстве кабельных сетей и инженерных коммуникаций с помощью горизонтального направленного бурения:
			.dotted-item
				.dotted-item__element прокладка кабельных линий электроснабжения
				.dotted-item__element.dotted-item__element--center прокладка газопровода
				.dotted-item__element прокладка кабеля слаботочных систем (кабели связи, прокладка ВОЛС)
				.dotted-item__element прокладка водопровода и канализации
				.dotted-item__element.dotted-item__element--center прокладка труб теплоснабжения

			.numbered-item
				.numbered-item__prev 2
				.numbered-item__content.numbered-item__content--second
					p Монтаж колодцев и запорной арматуры
			.dotted-item
				.dotted-item__element укладка водосборных лотков из сборного железобетона
				.dotted-item__element.dotted-item__element--center установка задвижек, вентилей
				.dotted-item__element установка канализационно - напорных станций (КНС) и насосов для канализационных систем

			.numbered-item
				.numbered-item__prev 3
				.numbered-item__content.numbered-item__content--third
					p Прокладка футляров при строительстве инженерных коммуникаций методом горизонтального направленного бурения.

			h2.title.services-content__title Помимо всего прочего, ооо «еврострой» осуществляет:

			.numbered-item
				.numbered-item__prev *
				.numbered-item__content.numbered-item__content--first
					p Полное оформление и согласование проектной документации, а так же документов, регламентирующих проведение подземных работ, в том числе и с отделом подземных сооружений (опс)
			.dotted-item
				.dotted-item__element заказ топографического плана с существующими коммуникациями
				.dotted-item__element.dotted-item__element--center проектирование закрытых переходов
				.dotted-item__element сдача исполнительно-технической документации в специализированных контролирующих организациях
				.dotted-item__element разработка и оформление исполнительно-технической документации
				.dotted-item__element.dotted-item__element--center согласование проектной документации
				.dotted-item__element оформление сметной документации и представление её как на бумажном, так и на электронном носителе
