@font-face {
    font-family: 'Unisans Bold';
    src: url('../fonts/unisansbold.eot');
    src: url('../fonts/unisansbold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/unisansbold.woff2') format('woff2'),
         url('../fonts/unisansbold.woff') format('woff'),
         url('../fonts/unisansbold.ttf') format('truetype'),
         url('../fonts/unisansbold.svg#uni_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Unisans Book';
    src: url('../fonts/unisansbook.eot');
    src: url('../fonts/unisansbook.eot?#iefix') format('embedded-opentype'),
         url('../fonts/unisansbook.woff2') format('woff2'),
         url('../fonts/unisansbook.woff') format('woff'),
         url('../fonts/unisansbook.ttf') format('truetype'),
         url('../fonts/unisansbook.svg#uni_sansbook') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Unisans Heavy';
    src: url('../fonts/unisansheavy.eot');
    src: url('../fonts/unisansheavy.eot?#iefix') format('embedded-opentype'),
         url('../fonts/unisansheavy.woff2') format('woff2'),
         url('../fonts/unisansheavy.woff') format('woff'),
         url('../fonts/unisansheavy.ttf') format('truetype'),
         url('../fonts/unisansheavy.svg#uni_sansheavy') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Unisans Thin';
    src: url('../fonts/unisansthin.eot');
    src: url('../fonts/unisansthin.eot?#iefix') format('embedded-opentype'),
         url('../fonts/unisansthin.woff2') format('woff2'),
         url('../fonts/unisansthin.woff') format('woff'),
         url('../fonts/unisansthin.ttf') format('truetype'),
         url('../fonts/unisansthin.svg#uni_sansthin') format('svg');
    font-weight: normal;
    font-style: normal;
}
