mixin about()
	.wrapper
		section.about
			.title.about__title О компании
			.about__text.about__text--left
				p ООО "ЕВРОСТРОЙ" - специализированная проектно-строительная компания, осуществляющая внедрение в практику новейших ресурсосберегающих технологий для бестраншейного строительства инженерных коммуникаций.
				p ООО «Еврострой» - проектно-строительная компания, которая специализируется на прокладке инженерных коммуникаций методом горизонтально-направленного бурения. Мы выполняем весь цикл работ – от подготовки проекта до сдачи объекта в эксплуатацию. Метод горизонтально-направленного бурения (ГНБ) является на сегодняшний день самым современным, эффективным и обладающим рядом ключевых преимуществ:
				p позволяет прокладывать коммуникации в любых погодных условиях и различных грунтах, в том числе под водоемами
				p скорость работы, по сравнению с траншейным методом, во много раз выше, а расход ресурсов - меньше
				p идеален для крупных городов и густонаселенных пунктов, где важна не только мобильность, но и забота об окружающих
			.about__text.about__text--right
				p Перечень наших возможностей в сфере прокладки и ремонта инженерных коммуникаций очень широк: мы занимаемся строительством тепловых и канализационных сетей, волоконно-оптических линий передач, дюкерных переходов под реками и другими водоемами, прокладкой труб методом продавливания, а также производим шнековое бурение и другие виды работ. Надежность и качество — залог нашего успеха.

		+cost-calculation(undefined, 'Расчет стоимости')
