.price-content {
	min-height: 834px;
	background: url(../images/general/price-content.jpg) no-repeat center;
	position: relative;
}

.price-content-form {
	width: 504px;
	background: #fff;
	margin: auto;
	padding: 28px;
	position: absolute;
	left: 0;
	right: 0;
	top: 90px;
}
