mixin footer(data)
	footer.footer
		.wrapper
			p © 2015 All Rights Reserved. Developed by Soulmates

	//- Main scripts. You can replace it, but I recommend you to leave it here
	script(src='https://yastatic.net/jquery/1.11.2/jquery.min.js')
	script(src='%=staticPrefix=%js/separate-js/slick.min.js')
	script(src='%=staticPrefix=%js/main%=hash=%%=min=%.js')
