mixin contacts()
	section.contacts
		.wrapper
			.contacts__item
				span Адрес
				p 140070, Московская область, Люберецкий р-н, пос. Томилино, ул. Гаршина, д.11
			.contacts__item
				span Телефон
				a(href="#" title="") +7 (495) 223-23-88
			.contacts__item
				span Email
				a(href="#" title="") info@gnbstroy.ru
