.partner {
	padding-top: 160px;
	padding-bottom: 85px;

	text-align: right;

	@include cf;
	&__title {
		position: relative;

		float: right;

		width: 550px;
		margin-right: 75px;
		margin-bottom: 55px;
		z-index: 1;
		&:before {
			position: absolute;
			top: 60px;
			left: -170px;

			content: "<<";

			color: $yellow;

			font-family: "Unisans Bold";
			font-size: em(75px);
			line-height: 0;
			@media screen and (max-width: 480px) {
				left: 0;
				top: 150px;
				z-index: -1;
			}
		}
		@media screen and (max-width: 480px) {
			width: 100%;
			margin-right: 0;
			padding-left: 15px;
			padding-right: 15px;
			float: none;
			box-sizing: border-box;
			word-wrap: break-word;
			margin-bottom: 20px;
		}
	}
	&__description {
		float: right;
		clear: both;

		width: 520px;
		margin-right: 75px;

		@include blocks-justify;
		@media screen and (max-width: 480px) {
			width: 100%;
			margin-right: 0;
			padding-left: 15px;
			padding-right: 15px;
			float: none;
			box-sizing: border-box;
		}
	}
	@media screen and (max-width: 480px) {
		width: 100%;
		padding-top: 20px;
		padding-bottom: 30px;
	}
}
