mixin partner()
	section.partner
		.wrapper
			.title.partner__title НАДЕЖНЫЙ ПАРТНЕР В ОБЛАСТИ ГОРИЗОНТАЛЬНО-НАПРАВЛЕННОГО БУРЕНИЯ
			p.paragraph.partner__description Вот уже более 9 лет мы используем свой опыт и имеющиеся ресурсы на благо наших партнеров. Оптимально налаженная система "Подрядчик-Исполнитель" избавляет наших заказчиков от лишних забот, поскольку помимо основных работ, мы возьмем на себя создание и утверждение проектной документации, а также решение бюрократических проволочек в инстанциях. Мы дорожим своей репутацией, ведь нам доверяют не только частные компании, но и крупнейшие государственные структуры.
